<h1>Questions</h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="questions">
      <% @questions.each do |question| %>
        <tr>
          <td><%= link_to markdown(question.title), question_path(question) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>


<%= link_to "Add Question", new_question_path %>
