<p class="page-header">Questions</p>
<%= render 'flash' %>

  <ul class="no-margin">
    <% @questions.each do |question| %>
      <li><%= link_to markdown(question.title), question_path(question) %></li>
    <% end %>
  </ul>
<br>


<%= button_to "Add Question", new_question_path, method: :get, class: :button %>
